@font-face {
    font-family: 'Grotesk';
    src: url(CyGrotesk-WideBold.otf);
}

body {
    background-image: url(5479108.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    font-family: Grotesk;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    width: 500px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: rgba(0, 0, 0, 0.6); /* Add a slight background color for readability */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for a raised effect */
    text-align: center;
}

h1 {
    text-align: center;
    color: orange;
    padding: auto;
    word-spacing: 15px;
    font-size: 20px;
    padding-bottom: 30px ;
}

.flip-clock-wrapper {
    max-width: 460px;
    margin: 3em auto 2em;
    display: flex;
    justify-content: center;
}

.signs {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    color: white;
}

.input {
    display: flex;
    justify-content: center;
    height: 34px;
    align-items: center;
    color: white;
    font-family: 'Grotesk';
    padding: 3px;
}

.counter {
    display: flex;
    justify-content: center;
}

.clock {
    margin-top: 30px;
}

#countdown {
    font-size: 20px;
}

.middle {
    display: inline-block;
}

#btns {
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #333333;
    color: #CCCCCC;
    font-family: Grotesk;
    padding: 10px 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 18px;
    border: none;
    letter-spacing: 2px;
}

#stats {
    background-color: #333333;
    width: 220px;
    height: 60px;
    border-radius: 10px;
    color: #CCCCCC;
    font-size: 35px;
    margin: 2px;
    text-align: center;
}

#statRow {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
